/* :root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(233, 47%, 7%);
    
}

/* *****THE CONTAINER********* */
.container {
    background-color: hsl(244, 38%, 16%);
    margin: 90px 24px;
    border-radius: 5px;
    color: white;    
    
}
/* **********UPPERPART FOR MOBILE VIEW AND RIGHTPART FOR WEB VIEW****************/
.toppart{
    
    background-image: url(./images/image-header-mobile.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    border-radius: 5px 5px 0 0;
    
}

.toppart .overlay {
    background-color: rgba(191, 50, 248, 0.49);
    height: 300px;
    border-radius: 5px 5px 0 0;
}

/* *******LOWERPART FOR MBILE VIEW AND LEFTPART FOR WEB VIEW */
.bottompart{
    margin: 34px 44px;
    padding-bottom: 8px;
    text-align: center;
    justify-content: center;
}

/* *****TITLE***** */
.bottompart h1{
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin: 39px 0 20px 0;
}
/* ********COLORING THE WORD "INSIGHT" *********** */
.bottompart h1 span{
    
    color:  hsl(277, 64%, 61%);
}

/* **********SUBTITLE*********** */
.bottompart p{
    margin: 18px 0px 53px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}

/* *******STATS******* */
.bottompart ul{
    list-style-type: none;
    padding-bottom: 2px;
}

.bottompart ul li{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 11px;
    margin-bottom: 28px;
}
.bottompart ul li span{
    display: block;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 21px;
    color: white;
    margin-bottom: 5px;
}

/* *********CREDIT********** */
.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    padding-bottom: 15px;
    
}
.attribution a {
  color: hsl(277, 64%, 61%);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 13px;
}

@media (min-width: 768px){
   
    .container{
        display: flex;
        flex-direction: row-reverse;
        padding: 0;        
        
    }

    .container .toppart{
        background-image: url(./images/image-header-desktop.jpg);
        background-position: center;
        background-size: cover;
        width: 50%;
        height: auto;
        border-radius: 0px 5px 5px 0;
        
    }
    .toppart .overlay {
        background-color: rgba(191, 50, 248, 0.49);
        height: 300px; 
        border-radius: 0px 5px 5px 0;
    }

    .bottompart{
        text-align: left;
        width: 50%;
        margin: 0px 44px 0px 44px;
        padding: 0;
    }
    
    .bottompart p{
        text-align: left;
        font-size: 10.5px;
        line-height: 19px;
        color: hsla(0, 0%, 100%, 0.5);
    }

    .bottompart ul li{
        display: inline-block;
        margin-bottom: 0px; 
        font-size: 9px;
        margin-right: 33px;
        font-weight: normal;
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 0.7px;
        
    }
    .bottompart ul li span{
        margin-bottom: 0px;
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
    }
        

    
}
@media (min-width:992px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
       
    }

    .container .bottompart{
        margin: 0;
        padding: 7px 46px 0px 53px;
    }

    .bottompart p{
        text-align: left;
        margin: 18px 20px 39px 0;
        font-size: 10.5px;
        line-height: 19px;
        color: hsla(0, 0%, 100%, 0.5);
        
    }
    .bottompart ul li span{
        font-size: 16px;
        margin-bottom: 6px;
        font-weight: 600;
    }

    .bottompart ul li{ 
        font-size: 9px;
        margin-right: 33px;
        font-weight: normal;
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 0.7px;
    }

}


